POSTGRES_USER=mi_usuario
POSTGRES_PASSWORD=mi_password
POSTGRES_DB=nombre_based_atos

SUPERSET_ADMIN_USER=mi_usuario
SUPERSET_ADMIN_PASSWORD=mi_password
SUPERSET_ADMIN_EMAIL=micorreo@example.com
SUPERSET_SECRET_KEY=dev-key-change-in-production

SMTP_HOST=smtp.delcorreo
SMTP_PORT=587
SMTP_USER=correo@example.com
SMTP_PASSWORD=password_o_app_password
SMTP_MAIL_FROM=correo@example.com

ALERT_EMAIL=correo@example.com
